.signup {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 25%;
  left: 37%;
  max-width: 300px;
  min-width: 250px;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width: 1440px) {
  .signup {
    left: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .signup {
    left: 35%;
  }
}

@media only screen and (max-width: 800px) {
  .signup {
    left: 27%;
  }
}

@media only screen and (max-width: 480px) {
  .signup {
    top: 20%;
    left: 6.5%;
  }
}

@media only screen and (max-width: 425px) {
  .signup {
    left: 3%;
  }
}

@media only screen and (max-width: 376px) {
  .signup {
    left: 0.5%;
  }
}

@media only screen and (max-width: 365px) {
  .signup {
    top: 20%;
    left: 0%;
  }
}

.signup > form {
  display: grid;
  flex-direction: column;
}

.signup > form > h1 {
  text-align: left;
  margin-bottom: 30px;
}

.signup > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(51, 51, 51, 0.6);
}

.signup > form > button {
  margin-top: 20px;
  padding: 16px 20px;
  color: #fff;
  background-color: #e50914;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.signup > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signup__grey {
  padding-left: 10px;
  color: grey;
}

.emptySpan {
  padding-left: 80px;
}

.signup__link {
  padding-left: 5px;
}

.signup__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
