.profiles {
  min-height: 100vh;
}

.Netflix__logo {
  position: fixed;
  object-fit: contain;
  width: 150px;
  top: 45px;
  left: 40px;
  padding-left: 20px;
  cursor: pointer;
}

.profiles__body {
  object-fit: contain;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiles__body > h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 40px;
}

.profiles__body > h1:hover {
  transition: all 1s;
  color: #e50914;
}

.profiles__container {
  float: left;
  display: flex;
  text-align: center;
  object-fit: contain;
  margin-top: 40px;
}

.profiles__profile > img {
  width: 200px;
  height: 200px;
  max-height: 100%;
  margin-left: 30px;
}

.profiles__profile > h3 {
  margin-top: 10%;
  margin-left: 10%;
  color: #e50914;
  opacity: 0.8;
}

.profile-active {
  text-decoration: underline #fff;
  font-weight: 700;
}

@media only screen and (max-width: 780px) {
  .profiles__body > h1 {
    margin-left: 75px;
    margin-top: 85px;
  }

  .profiles__container {
    margin-top: 20px;
  }

  .profiles__profile > img {
    width: 150px;
  }

  .profiles__profile > h3 {
    margin-top: 0;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 620px) {
  .profiles__body > h1 {
    margin-left: 30px;
    margin-top: 45px;
  }

  .profiles__container {
    margin-top: 20px;
    margin-left: -10px;
  }

  .profiles__profile > img {
    width: 125px;
  }

  .profiles__profile > h3 {
    margin-top: -10px;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 480px) {
  .profiles__body > h1 {
    font-size: 2.5rem;
  }

  .profiles__body {
    margin-bottom: 0;
  }

  .profiles__profile > img {
    width: 110px;
  }

  .profiles__profile > h3 {
    margin-top: -20px;
    margin-left: 22%;
  }
}

@media only screen and (max-width: 415px) {
  .profiles__profile > img {
    width: 90px;
  }

  .profiles__profile > h3 {
    margin-top: -25px;
    margin-left: 25%;
  }
}
