.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/028d050e-d3f4-4e70-8ac3-1269026601b2/IN-en-20210208-popsignuptwoweeks-perspective_alpha_website_small.jpg")
    center no-repeat;
  background-size: cover;
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__logo {
  position: fixed;
  object-fit: contain;
  width: 150px;
  top: 35px;
  left: 30px;
  padding-left: 20px;
}

.login__signInBtn {
  position: fixed;
  cursor: pointer;
  right: 40px;
  top: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
}

.login__body {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 30%;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.login__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.login__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.login__input {
  margin: 20px 20px;
}

.login__input > form > input {
  min-width: 350px;
  padding: 11px 10px 10px 11px;
  outline-width: 0;
  height: 30px;
  border: none;
  border-radius: 2px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.85);
}

.login__getStarted {
  min-width: 40px;
  margin-left: 5px;
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 3px;
}

@media only screen and (min-width: 1023px) {
  .login__body {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 640px) {
  .login__getStarted {
    margin: 10px;
  }

  .login__body {
    top: 15%;
  }
}

@media only screen and (max-width: 480px) {
  .login__logo {
    width: 100px;
    top: 25px;
    left: 10px;
    padding-left: 10px;
  }

  .login__signInBtn {
    right: 15px;
    top: 20px;
    font-size: 0.7rem;
  }

  .login__body {
    top: 15%;
  }

  .login__input > form > input {
    min-width: 150px;
  }

  .login__body > h1 {
    font-size: 2.2rem;
  }

  .login__body > h2 {
    font-size: 1.5rem;
  }

  .login__body > h3 {
    font-size: 1rem;
  }
}
